/**
 * 1: The default.
 */

.u-mt {
    margin-top: var(--base-unit) !important;
}

.u-mr {
    margin-right: var(--base-unit) !important;
}

.u-mb {
    margin-bottom: var(--base-unit) !important;
}

.u-ml {
    margin-left: var(--base-unit) !important;
}

/**
 * 0
 */

.u-mt-0 {
    margin-top: 0 !important;
}

.u-mr-0 {
    margin-right: 0 !important;
}

.u-mb-0 {
    margin-bottom: 0 !important;
}

.u-ml-0 {
    margin-left: 0 !important;
}
